{% extends 'blog_app\home.html' %}

{% block content %}

<style>
    .container-change-password .form-control, .container-change-password p{
            padding: 5px;
            margin: 10px;
            width: 80%;
            display: block;
            
        }
        .container-change-password .form-control{
            border: 1px solid rgba(39, 39, 49, 0.973);
        }
        .container-change-password .form-control:focus{
            border-color: #A675A1;
            outline :none
        }

        .container-change-password .form-control:hover{
            border-color: #A675A1;
            outline: none;
        }

        .container-dropdown{
           pointer-events: none;
           opacity: 0;
           transform: translateY(15px); 
           transition: 0.3s ease;      
        }
        
        #dropdown:hover .container-dropdown{
            pointer-events:auto;
            opacity: 1;
            transform: translateY(0px);
                    
        }
</style>
<div class="container-change-password" style="margin-top: 50px; width: 80%;">
    <h2> Change Password</h2>
    <h3>Username: {{user}}</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <div style="display: grid; grid-template-columns: 50% auto; padding-left: 30px; margin: 10px; width: 50%;">
            <div class="cloum1">
                <p>Old Password</p>
                <p>New Password</p>
                <p>Confirmed Password</p>
            </div>
            <div class="cloum2">
                {{ form.old_password}}
                {{ form.new_password1}}
                {{ form.new_password2}}
                <button style=" all: unset; display: flex; padding: 10px; background-color: #A675A1; color: white; cursor: pointer; font-size: 13px; transform: translateX(95px); " type="submit">Update Profile</button>
        
            </div>
        </div>
        {% if form.errors %}
        <div class="error" style=" font-size: 12px; color: #A675A1; padding: 15px;">
        
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <li style="list-style-type: none">{{ error|escape }}</li>
        {% endfor %}
        {% endfor %}
        
        </div>
        {% endif %}
        {% if messages %}
        <div class="message-container" style=" font-size: 12px; color: #A675A1; padding: 15px;">
            {% for message in messages %}
            <!-- Use message.tags as a CSS class for styling (e.g., alert-success, alert-danger) -->
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </form> 

</div>

{% endblock %}