{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href='https://cdn.boxicons.com/3.0.3/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Registration</title>
</head>
<body>
    <img style="position: absolute; height: 100vh; width: 100%; object-fit: cover; color: " src="{% static 'img/bg.jpg' %}">
    <div class="container">
        <h1>User Registration Form</h1>
        <form method="post" autocomplete="off">
        {% csrf_token %}
        <i class='bxr  bx-user'    ></i>{{ form.username}}
        <i class='bxr  bx-user'    ></i>{{ form.first_name}}
        <i class='bxr  bx-user'    ></i>{{ form.last_name}}
        <i class='bxr  bx-user'    ></i>{{ form.email}}
        <i class='bxr  bx-envelope'></i> {{ form.password1}}
        <i class='bxr  bx-lock'></i> {{ form.password2}}<i class='bxr  bx-lock'></i> 
        <button type="submit">Register</button>
        <p style='color: white;'> Already has an account? <a style="color: white;" href="{% url 'login' %}"> Login</a></p>
        </form>   
    </div>
    {% if form.errors %}
    <div class="error">
    
    {% for field, errors in form.errors.items %}
      {% for error in errors %}
        <li>{{ error|escape }}</li>
      {% endfor %}
    {% endfor %}
    
    </div>
    {% endif %}
</body>
</html>
